server:
  port: 8080

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/crudauth

jwt:
  secret: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwiaWF0IjoxNzAwMDAwMDAwfQ.CLuGoSX7l6z8cC-Y_SOeHbjgn0CrYNS8q-wBWPcA-R0
  expiration: 86400000

logging:
  level:
    org.springframework.security: INFO
